@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

/* Menu-band links */
.wy-menu-vertical a {
  line-height: 25px;
  padding: .4045em 1.618em;
  display: block;
  position: relative;
  font-size: 100%;
  color: #FBFBFB;
}
/* CONTENTS Feld */
.wy-menu-vertical p.caption {
  color: #06131c;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 85%;
  white-space: nowrap;
}
/*  Logo */
.wy-side-nav-search > a img.logo {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  border-radius: 0;
  max-width: 60%;
  background: transparent;
}

/* Feld hinter Logo */
.wy-side-nav-search {
  display: block;
  width: 300px;
  padding: .809em;
  margin-bottom: .809em;
  z-index: 200;
  background-color: #06131c;
  text-align: center;
  color: #fcfcfc00;
}
/* TOC Farbe SDG 17/ 50% */

.wy-nav-side {
   background-color: #7591A6;
}


.wy-menu-vertical li.current a, .wy-menu-vertical li.toctree-l2.current > a
{
  background-color: #19486A;
  border-color: #19486A;
  color: #FBFBFB;
}




.wy_breadcrumbs{
    color: #79BCFF;
}	


/* Customize background color of content and blank space behind. white*/ 
.wy-nav-content {
    max-width: 1200px !important;
	background-color: #FBFBFB;
}

/* Farbe Mudflat*/
.wy-nav-content-wrap {
    background-color: #B7A392;
}
