@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

/* Mobile top bar */
.wy-nav-top {
  background-color: #19486A !important;
}

/* Hamburger icon and title link */
.wy-nav-top i,
.wy-nav-top a {
  color: #FBFBFB !important;
}

/* Optional: hover effect on hamburger */
.wy-nav-top a:hover {
  color: #B2C2CE !important;
}

/* Menu-band links */
.wy-menu-vertical a {
  line-height: 25px;
  padding: .4045em 1.618em;
  display: block;
  position: relative;
  font-size: 100%;
  color: #FBFBFB;
}

/* Change hover background color for menu links */
.wy-menu-vertical a:hover {
  background-color: #B2C2CE;
  /*color: #ffffff; optional: ensure text stays visible */
}


/* CONTENTS Feld */
.wy-menu-vertical p.caption {
  color: #19486A;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 80%;
  white-space: nowrap;
}
/*  Logo */
.wy-side-nav-search > a img.logo {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  border-radius: 0;
  max-width: 60%;
  background: transparent;
}

/* Feld hinter Logo */
.wy-side-nav-search {
  display: block;
  width: 300px;
  padding: .809em;
  margin-bottom: .809em;
  z-index: 200;
  background-color: #06131c;
  text-align: center;
  color: #fcfcfc00;
}
/* TOC Farbe SDG 17/ 50% */
.wy-nav-side {
   background-color: #7591A6;
}

/* active sidebar items */
.wy-menu-vertical li.current a, .wy-menu-vertical li.toctree-l2.current > a
{
  background-color: #19486A;
  border: none !important; 
  color: #FBFBFB !important;
  ;
}

/* Prevent white-on-white when hovering over active sidebar items */
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l2.current > a:hover {
  background-color: #19486A;  /* Keep the same background */
  color: #FBFBFB !important;  /* Keep the text white */
}

.wy_breadcrumbs a {
    color: #79BCFF;
    text-decoration: none; /* Optional */
}

.wy_breadcrumbs a:hover {
    color: #1e90ff; /* Slightly darker blue for hover */
    text-decoration: underline; /* Optional */
}

/* Customize background color of content and blank space behind. white*/ 
.wy-nav-content {
    max-width: 1200px !important;
	background-color: #FBFBFB;
}

/* Unvisited links in main content */
.wy-nav-content a {
  color: #19486A;  
  text-decoration: none;  /* Optional: remove underline */
}

/* Visited links */
.wy-nav-content a:visited {
  color: #B7A392;  
}

/* Farbe Mudflat*/
.wy-nav-content-wrap {
    background-color: #B7A392;
}


.wy-body-for-nav {
  background: left repeat-y #fcfcfc;
  background-color: #19486A;
}